/* الصفحة الرئيسية */
.home {
  text-align: left; /* محاذاة النص إلى اليسار */
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* تغيير اللون للنص الذي يقدم الشخص */
.intro-text {
  color: var(--color-accent);  /* اللون البنفسجي أو أي لون تودين استخدامه */
  font-size: 18px;
  font-weight: 70; 
}

/* لتجنب انكسار النص داخل h1 */
.home h1 {
  font-size: 100px;
  font-weight: 800;
  color: var(--color-text-primary);
  margin-bottom: 20px;
  line-height: .9;
  margin-top: 20px;
}

.home h1 span {
  color: var(--color-accent);
  font-size: 100px;
  font-weight: 900;
    line-height: .9;

}

.description-text {
  font-size: 17px;
  color: rgb(120, 119, 119);
  margin-bottom: 40px;
  margin-top: 30px;
}

/* الأزرار */
.home-buttons {
  display: flex;
  justify-content: flex-start; /* محاذاة الأزرار لليسار */
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-projects {
  background: var(--color-accent);
  color: white;
}

.view-projects:hover {
  background: var(--color-accent-hover);
}

.contact-me {
  background: transparent;
  color: var(--color-accent);
  border: 2px solid var(--color-accent);
}

.contact-me:hover {
  background: var(--color-accent-soft);
  color: var(--color-text-primary);
}

.Featured-section {
  padding: 4px;
  margin-top: 70px;
}

.featured-title {
  font-size: 16px; /* جعل الخط أصغر */
  font-weight: 60; /* جعل الخط أنحف */
  color: var(--color-accent);
  display: flex;
  align-items: center;
  margin-bottom: 8px; /* تقليل المسافة السفلية */
}

.featured-star {
  color: var(--color-accent); /* نجم بلون أكسنت */
  margin-right: 5px; /* تقليل المسافة بين النجمة والنص */
  font-size: 18px; /* جعل النجمة أصغر */
}

.featured-line {
  flex-grow: 1;
  margin-left: 10px;
  margin-top: 10px;
  border-top: 0.009px solid var(--color-accent); /* تغيير سمك الخط */
}

.Featured-card {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
}