* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-text-primary);
}

:root{
    --color-accent: #7b3aec;       /* البنفسجي الرئيسي */

}

/* ============================
   Dark Mode Colors
   ============================ */
html[data-theme="dark"] {
  --color-background: #08070c;   /* الصفحة كاملة */
  --color-surface: #0e0d13;      /* أقسام كبيرة */
  --color-card: #12111a;         /* الكروت */

  --color-text-primary: #f5f5ed;   /* النص الأساسي */
  --color-text-secondary: rgba(245,245,237,.7); /* نص فرعي */
  --color-text-muted: rgba(245,245,237,.45); /* نص خافت */

  --color-accent-hover: #9b6dff;
  --color-accent-soft: rgba(123,58,236,.15);

  --color-border: rgba(255,255,255,.08);

  --shadow-card: 0 20px 60px rgba(0,0,0,.5);

  --terminal-background: #0a0a0a;
  --terminal-text: #e8e8e0;
  --terminal-green: #2c9d4e;
  --terminal-yellow: #ffd24d;
  --terminal-red: #ff4d4d;
}

/* ============================
   Light Mode Colors
   ============================ */
html[data-theme="light"] {
  --color-background: #ffffff;   /* الصفحة كاملة */
  --color-surface: #f7f7f7;      /* أقسام كبيرة */
  --color-card: #ffffff;         /* الكروت */

  --color-text-primary: #000000;   /* النص الأساسي */
  --color-text-secondary: rgba(0,0,0,.7); /* نص فرعي */
  --color-text-muted: rgba(0,0,0,.45); /* نص خافت */

  --color-accent-hover: #9b6dff;
  --color-accent-soft: rgba(123,58,236,.15);

  --color-border: rgba(0,0,0,.08);

  --shadow-card: 0 20px 60px rgba(0,0,0,.1);

  --terminal-background: #f5f5f5;
  --terminal-text: #333333;
  --terminal-green: #2c9d4e;
  --terminal-yellow: #ffd24d;
  --terminal-red: #ff4d4d;
}

